
<div class="nombre-prestador">
  <h1 *ngIf="prest?.Nombre">{{ prest.Nombre }}</h1>
</div>
<div class="contenedor-flex">
  <!-- COLUMNA IZQUIERDA: INPUTS -->
  <div class="columna-inputs">
    <mat-card class="buscador-card">
      <div class="text-center">
        <h1><strong>INGRESE NUMERO DE SOBRE</strong></h1>
      </div>
      <mat-form-field appearance="outline" class="input-full">
        <mat-label>Búsqueda</mat-label>
        <input [(ngModel)]="sobre" matInput placeholder="Ingrese número" (focus)="campoActivo = 'sobre'" />
      </mat-form-field>
    </mat-card>

    <mat-card class="buscador-card">
      <div class="text-center">
        <h1><strong>INGRESE CANTIDAD DE CONSULTAS</strong></h1>
      </div>
      <mat-form-field appearance="outline" class="input-full">
        <mat-label>Búsqueda</mat-label>
        <input [(ngModel)]="consulta" matInput placeholder="Ingrese número" (focus)="campoActivo = 'consulta'" />
      </mat-form-field>
    </mat-card>

    <mat-card class="buscador-card">
      <div class="text-center">
        <h1><strong>INGRESE CANTIDAD DE PRÁCTICAS</strong></h1>
      </div>
      <mat-form-field appearance="outline" class="input-full">
        <mat-label>Búsqueda</mat-label>
        <input [(ngModel)]="practica" matInput placeholder="Ingrese número" (focus)="campoActivo = 'practica'" />
      </mat-form-field>
    </mat-card>
  </div>

  <!-- COLUMNA DERECHA: TECLADO -->
  <div class="columna-teclado">
    <h1 class="text-center">TECLADO NUMÉRICO</h1>
    <div class="teclado-container">
      <button
        mat-raised-button
        style="background-color: rgb(190, 179, 179);"
        *ngFor="let tecla of teclas"
        (click)="agregarNumero(tecla)">
        {{ tecla }}
      </button>

      <button mat-raised-button color="primary">
        <mat-icon>keyboard_return</mat-icon>
      </button>

      <button mat-raised-button color="warn" (click)="borrar()">
        <mat-icon>backspace</mat-icon>
      </button>
    </div>
  </div>
</div>
