<button mat-raised-button color="warn" (click)="salir()">
  <mat-label><strong>SALIR</strong></mat-label>
</button>
<!--
<div class="imagen-superior">
  <div class="contenedor-logo">
    <img src="assets/camara.png" alt="Logo" class="imagen-logo"/>
  </div>
</div>
-->
<div class="nombre-prestador">
  <h1 *ngIf="prest?.Nombre"><strong>{{ prest.Nombre }}</strong></h1>
</div>
<mat-card class="buscador-card">
  <div class="text-center">
    <h1><strong>PRESTADORES ENCONTRADOS</strong></h1>
  </div>
  <table class="tabla-prestadores">
    <thead>
      <tr>
        <th>NRO PRESTADOR</th>
        <th>MATRICULA</th>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of prestadores">
        <td>{{ p.NroPrestador }}</td>
        <td>{{ p.Matricula }}</td>
        <td>{{ p.Nombre }}</td>
        <td>
          <button mat-button color="primary" (click)="seleccionarPrestador(p)">
            <strong>ELEGIR</strong>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</mat-card>

